@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    @apply font-body bg-neutral text-dark;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}


